@{
    ViewData["Title"] = "Privacy Policy";
}
@section Styles{
}

<div class="container my-4">
    <div class="row">
        <div class="col-4">
            <h2 class="text-dark">Danh sách các bài viết</h2>
        </div>
        <div id="user" class="col-8 text-end">
            <a class="btn btn-success" href="/Admin/Article/Upsert"><i class="fas fa-plus"></i> Viết bài </a>
            <a class="btn btn-warning" href="/Admin/Home"><i class="fas fa-home"></i> Về trang chủ </a>
        </div>
    </div>
    <table class="table" width="100%" id="tblData">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Author
                </th>
                <th>
                    Date
                </th>

                <th>
                    Type
                </th>
                <th>
                </th>
            </tr>
        </thead>
    </table>
    <ul class="pagination pagination-lg mt-3" id="pagination">
    </ul>
</div>

@section Scripts{
    <script src="~/js/admin/article/index.js"></script>
}

