@{
    ViewData["Title"] = "Privacy Policy";
}

@section Styles{
    <link rel="stylesheet" href="~/css/admin/article/writerArticle.css" />
}

<section id="form" style="padding-bottom:1rem;">
    <form>
        <div class="contain-input">
            <div class="div-input">
                <label class="control-label">Tiêu đề</label>
                <input id="title" class="form-control" maxlength="120" />
            </div>
            <div class="div-input">
                <label class="control-label">Mô tả</label>
                <textarea id="description" rows="5" class="form-control"></textarea>
            </div>
            <div class="div-input">
                <label class="control-label">tác giả</label>
                <input id="author" class="form-control" maxlength="50" />
            </div>
            <div class="div-input">
                <label class="control-label">chuyên mục</label>
                <select id="comlumnist" class="form-control"></select>
            </div>
            <div class="div-input">
                <label class="control-label">chuyên mục con</label>
                <select id="comlumnistItem" class="form-control"></select>
            </div>
        </div>
        <textarea id="content"></textarea>
        <div>
            <button type="button" id="submit" class="btn btn-success"><i class="fas fa-save"></i> Lưu</button>
            <a href="/Admin/Article/Index" id="submit" class="btn btn-warning"><i class="fas fa-home"></i> Về trang chủ</a>
        </div>
    </form>
</section>

@section Scripts{
    <script src="~/js/admin/article/upsert.js"></script>
}




