@{
    ViewData["Title"] = "Privacy Policy";
}
@section Styles{
}
@model int

<div class="container my-4">
    <div class="container my-4">
        <div class="row">
            <div class="col-2">
                <h2 class="text-dark">Home</h2>
            </div>
            <div id="user" class="col-10 text-end d-flex justify-content-between pb-2">
                <a class="btn btn-success mx-1" href="/Admin/Article/Index"><i class="fas fa-edit"></i> Quản lý bài đăng </a>
                <a class="btn btn-danger mx-1" href="/Admin/Home/List"><i class="fas fa-truck"></i> Chỉnh sửa mặt hàng </a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>function checkPermision() {
            $.ajax({
                type: "GET",
                url: "/api/user",
            }).done(function (data) {
                if (data) {
                    let link = ""
                    let i = ""

                    link = $("<a></a>", {
                        href: "/Admin/Location",
                        class: "btn btn-light",
                    })
                    i = $("<i></i>", {
                        class: "fas fa-map-marked-alt",
                    });
                    link.append(i);
                    link.append(" Quản lý địa chỉ ");
                    $("#user").append(link);

                    link = $("<a></a>", {
                        href: "/Admin/Parcel",
                        class: "btn btn-dark",
                    })
                    i = $("<i></i>", {
                        class: "fas fa-shipping-fast",
                    });
                    link.append(i);
                    link.append(" Quản lý hàng ");
                    $("#user").append(link);

                    link = $("<a></a>", {
                        href: "/Admin/Manager",
                        class: "btn btn-warning",
                    })
                    i = $("<i></i>", {
                        class: "fas fa-tasks",
                    });
                    link.append(i);
                    link.append(" Quản lý loại người dùng");
                    $("#user").append(link);

                    link = $("<a></a>", {
                        href: "/Admin/RegisterTypeUser",
                        class: "btn btn-primary ml-2",
                    })
                    i = $("<i></i>", {
                        class: "fas fa-user-plus",
                    });
                    link.append(i);
                    link.append(" Quản lý người dùng");
                    $("#user").append(link);
                }
                loadType();
            }).fail(function () {
                toastr.error("Error to send request to server");
            });
        }

        function loadType() {
            $.ajax({
                type: "GET",
                url: "/api/user?getType=true",
            }).done(function (data) {
                let link = $("<a></a>", {
                    class: "btn btn-secondary ml-1",
                });
                let i;
                if (data == "Admin") {
                    i = $("<i></i>", {
                        class: "fas fa-user-cog",
                    });
                }
                else {
                    i = $("<i></i>", {
                        class: "fas fa-user",
                    });
                }
                link.append(i);
                data = (data == null ? "Không có quyền hạn" : data);
                link.append(" " + data);
                $("#user").append(link);
                loadName();
            }).fail(function () {
                toastr.error("Error to send request to server");
            });
        }

        function loadName() {
            $.ajax({
                type: "GET",
                url: "/api/user?getName=true",
            }).done(function (data) {
                let link = $("<a></a>", {
                    class: "btn btn-info ml-1",
                });
                let i = $("<i></i>", {
                    class: "fas fa-signature",
                });
                link.append(i);
                data = (data == null ? "Vô danh" : data);
                link.append(" " + data);
                $("#user").append(link);
            }).fail(function () {
                toastr.error("Error to send request to server");
            });
        }
        checkPermision();</script>
}

