@{
    ViewData["Title"] = "Privacy Policy";
}
@section Styles{
}
@model int

<div class="container my-4">
    <div class="container my-4">
        <div class="row">
            <div class="col-1">
                <h2 class="text-dark">Home</h2>
            </div>
            <div id="user" class="col-11 row text-end d-flex justify-content-between pb-2">
                <a class="btn btn-success col" href="/Admin/Article/Index"><i class="fas fa-edit"></i> Bài đăng </a>
                <a class="btn btn-danger col" href="/Admin/Home/List"><i class="fas fa-truck"></i> Mặt hàng </a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>function checkPermision() {
            $.ajax({
                type: "GET",
                url: "/api/user",
            }).done(function (data) {
                if (data) {
                    let link = ""
                    let i = ""

                    link = $("<a></a>", {
                        href: "/Admin/Location",
                        class: "btn btn-light col",
                    })
                    i = $("<i></i>", {
                        class: "fas fa-map-marked-alt",
                    });
                    link.append(i);
                    link.append(" Địa chỉ ");
                    $("#user").append(link);

                    link = $("<a></a>", {
                        href: "/Admin/Parcel",
                        class: "btn btn-dark col",
                    })
                    i = $("<i></i>", {
                        class: "fas fa-shipping-fast",
                    });
                    link.append(i);
                    link.append(" Bưu phẩm ");
                    $("#user").append(link);

                    link = $("<a></a>", {
                        href: "/Admin/Manager",
                        class: "btn btn-warning col",
                    })
                    i = $("<i></i>", {
                        class: "fas fa-tasks",
                    });
                    link.append(i);
                    link.append(" Phân quyền ");
                    $("#user").append(link);

                    link = $("<a></a>", {
                        href: "/Admin/RegisterTypeUser",
                        class: "btn btn-primary col",
                    })
                    i = $("<i></i>", {
                        class: "fas fa-user-plus",
                    });
                    link.append(i);
                    link.append(" Người dùng");
                    $("#user").append(link);

                    link = $("<a></a>", {
                        href: "/Admin/Distance",
                        class: "btn btn-secondary col",
                    })
                    i = $("<i></i>", {
                        class: "fas fa-road",
                    });
                    link.append(i);
                    link.append(" Quãng đường");
                    $("#user").append(link);

                    link = $("<a></a>", {
                        href: "/Admin/Price",
                        class: "btn btn-info col",
                    })
                    i = $("<i></i>", {
                        class: "fas fa-money-bill-wave",
                    });
                    link.append(i);
                    link.append(" Giá ");
                    $("#user").append(link);
                }
            }).fail(function () {
                toastr.error("Error to send request to server");
            });
        }
        checkPermision();</script>
}

