@{ ViewData["Title"] = "MLPost"; }
@section Styles{
}
@model int

<div class="container my-4">
    <div class="container my-4">
        <div class="row">
            <div class="col mb-2">
                <h2 class="text-dark">Danh sách các vùng</h2>
            </div>
            <div class="col text-end">
                <a class="btn btn-warning mb-2" href="/Admin/Home"><i class="fas fa-home"></i> Về trang chủ</a>
            </div>
        </div>
        <table class="table" width="100%" id="tblData">
            <thead>
                <tr>
                    <th> Id </th>
                    <th> Items </th>
                    <th> Point Away </th>
                    <th> Destination </th>
                    <th> Status </th>
                    <th> Customer Info </th>
                    <th> Other Info </th>
                    <th> Action </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script>let table;

        function loadTbl() {
            table = $('#tblData').DataTable({
                "paging": true,
                "info": true,
                "lengthMenu": [10, 5, 1],
                "ajax": {
                    type: "GET",
                    url: "/api/parcel",
                },
                "columns": [
                    { "data": "id", "width": "12%" },
                    { "data": "items", "width": "12%" },
                    { "data": "pointAway", "width": "12%" },
                    { "data": "destination", "width": "12%" },
                    { "data": "status.name", "width": "12%" },
                    { "data": "customerInfo", "width": "12%" },
                    { "data": "otherInfo", "width": "12%" },
                    {
                        "data": "id",
                        "render": function (data) {
                            return `
                                                                                        <div class="text-center">
                                                                                            <a href='/Admin/Home/Edit/${data}' class="btn btn-warning">
                                                                                                <i class="fas fa-pencil-alt"></i>
                                                                                            </a>
                                                                                        </div>
                                                                                       `;
                        }, "width": "16%"
                    }
                ]
            });
        }
        function deleteProvince(url) {
            const requestOptions = {
                method: "DELETE",
                redirect: "follow",
            };
            fetch(url, requestOptions).then(rs => rs.text()).then(rs => {
                swal(rs);
                table.ajax.reload();
            })
        }
        loadTbl();</script>
}

