@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/main/index.css" />

<section id="slider">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item contain-img active">
                <img tyle="width:100%;" class="d-block" src="http://www.vnpost.vn/Portals/0/banner/Banner%20Chao%20mung%20DH%20Dang.jpg" alt="First slide">
            </div>
            <div class="carousel-item contain-img">
                <img tyle="width:100%;" class="d-block" src="http://www.vnpost.vn/Portals/0/banner/IT-Banner-02.jpg" alt="First slide">
            </div>
            <div class="carousel-item contain-img ">
                <img tyle="width:100%;" class="d-block" src="http://www.vnpost.vn/Portals/0/banner/Tem-COVID.jpg" alt="Second slide">
            </div>
            <div class="carousel-item contain-img ">
                <img style="width:100%;" class="d-block" src="http://www.vnpost.vn/Portals/0/banner/Banner%20Cong%20PostGreen.jpg" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <p id="slider-link">Xem chi tiết</p>
</section>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/main/index.js"></script>
