@{
    ViewData["Title"] = "Privacy Policy";
}
@section Styles{
}

<div class="container my-4">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Danh sách các bài viết</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-info" asp-action="Upsert"><i class="fas fa-plus"></i>Viết bài</a>
        </div>
    </div>
    <table class="table" width="100%" id="tblData">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Author
                </th>
                <th>
                    Date create
                </th>
                <th>
                </th>
            </tr>
        </thead>
    </table>
    <ul class="pagination pagination-lg mt-3" id="pagination">
    </ul>
</div>

@section Scripts{
    <script src="~/js/posts/write/index.js"></script>
}

