@{
    ViewData["Title"] = "Privacy Policy";
}
@section Styles{
}

<div class="container">
    <p>
        <a asp-action="Upsert">Viết bài</a>
    </p>
    <table class="table" width="100%" id="tblData">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Author
                </th>
                <th>
                    Date create
                </th>
                <th>
                </th>
            </tr>
        </thead>
    </table>
    <ul class="pagination pagination-lg mt-3" id="pagination">
    </ul>
</div>

@section Scripts{
    <script src="~/js/posts/write/index.js"></script>
}

