@{
    ViewData["Title"] = "Privacy Policy";
}

@section Styles{
    <link rel="stylesheet" href="~/css/post/writer/writerArticle.css" />
}

<section id="form" style="padding-bottom:1rem;">
    <form>
        <input style="display:none;" />
        <div class="contain-input">
            <div class="div-input">
                <label class="control-label">Tiêu đề</label>
                <input id="title" class="form-control" maxlength="120" />
            </div>
            <div class="div-input">
                <label class="control-label">Mô tả</label>
                <input id="description" class="form-control" />
            </div>
            <div class="div-input">
                <label class="control-label">tác giả</label>
                <input id="author" class="form-control" maxlength="50" />
            </div>
            <div class="div-input">
                <label class="control-label">chuyên mục</label>
                <select id="comlumnist" class="form-control"></select>
            </div>
            <div class="div-input">
                <label class="control-label">chuyên mục con</label>
                <select id="comlumnistItem" class="form-control"></select>
            </div>
        </div>
        <textarea id="content"></textarea>
        <button type="button" id="submit" class="btn btn-success">Lưu</button>
    </form>
</section>

@section Scripts{
    <script src="~/js/posts/write/upsert.js"></script>
}




