@{
    ViewData["Title"] = "Privacy Policy";
}
@section Styles{
}
@model int
<div class="container my-4">
    <div class="container my-4">
        <div class="row">
            <div class="col mb-2">
                <h2 class="text-dark">Danh sách các bài viết</h2>
            </div>
            <div class="col d-flex flex-row-reverse mb-2">
                <button id="addProvince" class="btn btn-success">Thêm mới vùng</button>
            </div>
        </div>
        <table class="table" width="100%" id="tblData">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Edit District
                    </th>
                    <th>
                        Remove District
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        console.log(@Model)
        let table;

        function loadTbl() {
            table = $('#tblData').DataTable({
                "paging": true,
                "info": true,
                "lengthMenu": [10, 5, 1],
                "ajax": {
                    type: "GET",
                    url: "/api/location/district/"+@Model,
                },
                "columns": [
                    { "data": "name", "width": "34%" },
                    {
                        "data": "id",
                        "render": function (data) {
                            return `
                                    <div class="text-center">
                                        <button onclick=updateProvince(${data}) class="btn btn-warning" style="cursor:pointer">
                                            <i class="fas fa-pencil-alt"></i>
                                        </button>
                                    </div>
                                   `;
                        }, "width": "33%"
                    },
                    {
                        "data": "id",
                        "render": function (data) {
                            return `
                                    <div class="text-center">
                                        <button onclick=deleteProvince("/api/location/district/${data}") class="btn btn-danger" style="cursor:pointer">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                   `;
                        }, "width": "33%"
                    }
                ]
            });
        }
        function addProvince() {
            document.getElementById('addProvince').onclick = () => {
                swal("Enter name:", {
                    content: "input",
                }).then((value) => {
                    const myHeaders = new Headers();
                    myHeaders.append("Content-Type", "application/json");
                    const raw = JSON.stringify({ name: value, provinceId:@Model });
                    const requestOptions = {
                        method: "PUT",
                        headers: myHeaders,
                        body: raw,
                        redirect: "follow",
                    };
                    fetch("/api/location/district", requestOptions)
                        .then((response) => response.text())
                        .then((result) => {
                            swal(result);
                            table.ajax.reload();
                        });
                });
            }
        }
        function deleteProvince(url) {
            const requestOptions = {
                method: "DELETE",
                redirect: "follow",
            };
            fetch(url, requestOptions).then(rs => rs.text()).then(rs => {
                swal(rs);
                table.ajax.reload();
            })
        }
        function updateProvince(id) {
            swal("Enter name:", {
                content: "input",
            }).then((value) => {
                const myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/json");
                const raw = JSON.stringify({ id: id, name: value });
                const requestOptions = {
                    method: "POST",
                    headers: myHeaders,
                    body: raw,
                    redirect: "follow",
                };
                fetch("/api/location/district", requestOptions)
                    .then((response) => response.text())
                    .then((result) => {
                        swal(result);
                        table.ajax.reload();
                    });
            });
        }
        loadTbl();
        addProvince();
    </script>
}
