#category-container {
    background: #f6f6f6;
}
#category {
/*    width: 100%;*/
    display: flex;
    justify-content: space-around;
    background: #f6f6f6;
    padding: 3rem 0;
    margin: 5rem 0;
}

    #category div {
        text-align: center;
        align-items: center;
        text-decoration: none;
        color: #f6821f;
        width: 25rem;
    }

        #category div .category-contain > img {
            width: 25rem;
            height: 25rem;
            border: 10px solid #f0eceb;
            border-radius: 50%;
            margin-bottom: 1rem;
        }

        #category div > img {
            margin: 2rem 0;
        }

        #category div > div a,
        #category div h2 {
            color: #f6821f;
            width: 25rem;
            text-align: left;
        }

        #category div h2 {
            padding-left: 4rem;
        }

        #category div > div a {
            padding-left: 2rem;
            font-size: 1.4rem;
            font-weight: 300;
            margin-bottom: 1rem;
            text-decoration: none;
        }

            #category div > div a:before {
                content: '\f0da';
                padding: 0 1rem;
                font-weight: 700;
            }

            #category div > div a:hover {
                opacity: 0.7;
            }

@media (max-width: 1024px) {
    #category div,
    #category div .category-contain > img,
    #category div p,
    #category div h2 {
        width: 16rem;
    }

        #category div .category-contain > img {
            height: 16rem;
        }

        #category div h2 {
            font-size: 1.6rem;
        }

        #category div > div a {
            font-size: 1rem;
        }
}

@media (max-width: 736px) {
    #category {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

        #category div {
            margin-bottom: 2rem
        }

            #category div,
            #category div .category-contain > img,
            #category div p,
            #category div h2 {
                width: 20rem;
            }

                #category div .category-contain > img {
                    height: 20rem;
                }

                #category div h2 {
                    padding-left: 10rem;
                }

                #category div > div a {
                    padding-left: 10rem;
                }
}

@media (max-width: 414px) {
    #category {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

        #category div {
            margin-bottom: 2rem
        }

            #category div,
            #category div .category-contain > img,
            #category div p,
            #category div h2 {
                width: 20rem;
            }

                #category div .category-contain > img {
                    height: 20rem;
                }

                #category div h2 {
                    padding-left: 4rem;
                }

                #category div > div a {
                    padding-left: 2rem;
                }
}
