#article {
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
}

    #article h3 {
        font-weight: bold;
        padding: 1rem 0;
    }

.gallery {
    width: 36rem;
}

    .gallery ul li {
        padding-top: 1rem;
        background: #f7f7f7;
    }

        .gallery ul li a {
            display: flex;
            justify-content: space-between;
            text-decoration: none;
            width: 100%;
        }

            .gallery ul li a:hover {
                opacity: 0.75;
            }

            .gallery ul li a img {
                width: 4rem;
                height: 4rem;
                background: #faa61a;
                border-radius: 100%;
            }

            .gallery ul li a div {
                width: 80%;
                padding-left: 1rem;
            }

                .gallery ul li a div h5 {
                    color: black;
                    font-weight: 900;
                    font-size: 1.6rem;
                }

                .gallery ul li a div p {
                    color: #868686;
                    font-weight: 400;
                    font-size: 1.2rem;
                }

            .gallery ul li a i {
                color: #868686;
                font-size: 2rem;
                margin-top: 1rem;
                width: 5%;
            }

.list-article {
    width: 65%;
    padding: 2rem;
}

.article {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

    .article .description-article {
        width: 45%;
    }

        .article .description-article img {
            width: 100%;
            padding: 0.5rem;
        }

        .article .description-article p {
            color: #bababa;
            font-size: 1.4rem;
        }

        .article .description-article span {
            font-size: 1.2rem;
        }

    .article .link-to-articles {
        display: flex;
        flex-direction: column;
        width: 55%;
    }

        .article .link-to-articles .current {
            background: #fcb71e;
        }

        .article .link-to-articles .link-article {
            display: flex;
            justify-content: space-between;
            padding: 0 1.5rem 1.5rem 1.5rem;
            text-align: left;
            width: 100%;
        }

            .article .link-to-articles .link-article img {
                max-width: 10rem;
                max-height: 6rem;
                padding-right: 1rem;
            }

            .article .link-to-articles .link-article div p {
                color: #bababa;
                font-size: 1.2rem;
                min-width: 90%;
            }

            .article .link-to-articles .link-article div a {
                color: black;
                text-decoration: none;
            }
            .article .link-to-articles .link-article div a h4{
                font-size: 1.6rem;
            }

                .article .link-to-articles .link-article div a:hover {
                    color: #faa61a;
                }



@media (max-width: 1023px) {
    .gallery {
        width: 24rem;
    }

    .article {
        width: 48rem;
    }

    .gallery ul li a i {
        margin-top: 3rem;
    }
}

@media (max-width: 768px) {
    .gallery {
        display: none;
    }

    .list-article {
        width: 100%;
    }

    .article {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .article {
        flex-direction: column;
    }

        .article .description-article {
            width: 100%;
        }

        .article .link-to-articles {
            width: 100%;
        }
}
