#slider {
    padding-bottom: 5%;
}

.contain-img {
    width: 100%;
}

    .contain-img img {
        width: 100%;
        overflow: hidden;
    }

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 3px;
    margin-left: 3px;
}

#article {
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
}

    #article h3 {
        font-weight: bold;
        padding: 1rem 0;
    }

.gallery {
    width: 40rem;
}

    .gallery ul li {
        height: 6rem;
        padding-top: 1rem;
        background: #f7f7f7;
    }

        .gallery ul li a {
            display: flex;
            justify-content: space-between;
            text-decoration: none;
        }

            .gallery ul li a:hover {
                opacity: 0.75;
            }

            .gallery ul li a img {
                width: 4rem;
                height: 4rem;
                background: #faa61a;
                border-radius: 100%;
            }

            .gallery ul li a div h5 {
                color: black;
                font-weight: 900;
                font-size: 1.6rem;
            }

            .gallery ul li a div p {
                color: #868686;
                font-weight: 400;
                font-size: 1.2rem;
            }

            .gallery ul li a i {
                color: #868686;
                font-size: 2rem;
                margin-top: 1rem;
            }

.list-article {
    width: 65%;
}

.article {
    display: flex;
    justify-content:space-between;
}
