#slider {
    height: 40rem;
}

.contain-img {
    width: 100%;
}

    .contain-img img {
        width: 100%;
        overflow: hidden;
    }

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 3px;
    margin-left: 3px;
}

@media (max-width: 1023px) {
    #slider {
        height: 30rem;
    }
}

@media (max-width: 768px) {
    #slider {
        height: 20rem;
    }
}

@media (max-width: 400px) {
    #slider {
        height: 15rem;
    }
}
