@{
    ViewData["Title"] = "VNPost";
}
@section Styles{
    <link rel="stylesheet" href="~/css/admin/registerTypeUser/index.css" />
}

<div class="container">
    <form>
        <select id="select" class="form-control"></select>
        <button id="button" type="button" class="btn btn-success">Đăng ký</button>
    </form>
</div>

@section Scripts{
    <script src="~/js/admin/registerTypeUser/index.js"></script>
}