@{
    ViewData["Title"] = "VNPost";
}
@section Styles{
    <link rel="stylesheet" href="~/css/admin/registerTypeUser/index.css" />
}

<div class="container">
    <form>
        <select id="select" class="form-control"></select>
        <button id="button" type="button" class="btn btn-success mb-4">Đăng ký</button>
        <a class="btn btn-warning text-white" href="/Admin/Article">Về trang chủ</a>
    </form>
</div>

@section Scripts{
    <script src="~/js/admin/registerTypeUser/index.js"></script>
}