@{
    ViewData["Title"] = "VNPost";
}
@section Styles{
    <link rel="stylesheet" href="~/css/admin/registerTypeUser/index.css" />
}

<div class="container">
    <div class="d-flex align-items-end flex-column my-2" >
        <a class="btn btn-warning text-white" href="/Admin/Article"><i class="fas fa-home"></i> Về trang chủ</a>
    </div>
    <table class="table" width="100%" id="tblData">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Type
                </th>
                <th>
                </th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/admin/registerTypeUser/index.js"></script>
}