@{
    ViewData["Title"] = "MLPost";
}
@section Styles{
    <link rel="stylesheet" href="~/css/admin/registerTypeUser/index.css" />
}

<div class="container">
    <div class="row">
        <div class="col mb-2">
            <h2 class="text-dark">Danh sách các user</h2>
        </div>
        <div class="col text-end">
            <a class="btn btn-success" href="/Identity/Account/Register"><i class="fas fa-plus"></i> Tạo người dùng mới</a>
            <a class="btn btn-warning" href="/Admin/Home"><i class="fas fa-home"></i> Về trang chủ</a>
        </div>
    </div>
    <table class="table" width="100%" id="tblData">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Curent Type
                </th>
                <th>
                    Type
                </th>
                <th>
                </th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/admin/registerTypeUser/index.js"></script>
}