@{
    ViewData["Title"] = "MLPost";
}
@model VNPost.Models.Entity.Location
<div class="container">

    <div class="d-flex justify-content-center row m-5">
        <div class=" col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Thông tin gói hàng</h5>
                    <h6 class="card-subtitle mb-2 text-muted" id="customerInfo">Customer</h6>
                    <p class="card-subtitle mb-2 text-muted" id="otherInfo">Thông tin khác</p>
                    <p class="card-subtitle mb-2 text-muted" id="location">Current</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" id="items">Vat pham</li>
                    <li class="list-group-item" id="pointAway">Diem di</li>
                    <li class="list-group-item" id="destination">Điểm đến:</li>
                    <li class="list-group-item" id="status">Trang thai</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center row m-5">
        <form class="border p-4 col-8" method="post">
            <h2 class="text-secondary">Add</h2>

            <input type="hidden" asp-for="ParcelId" />
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>

            <div class="input-group row mb-3">
                <div class="col-4">
                    <label asp-for="Description"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Description" class="form-control" />
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="input-group row mb-3">
                <div class="col-4">
                    <label></label>
                </div>
                <div class="col-8">
                    <select id="province" class="form-select"></select>
                </div>
                <span class="text-danger"></span>
            </div>

            <div class="input-group row mb-3">
                <div class="col-4">
                    <label></label>
                </div>
                <div class="col-8">
                    <select asp-for="DistricId" id="district" class="form-select"></select>
                </div>
                <span class="text-danger"></span>
            </div>

            <div class="input-group row d-flex justify-content-center">
                <div class="col-2 offset-3">
                    <button type="submit" class="btn btn-primary form-control">
                        Add
                    </button>
                </div>
                <div class="col-2">
                    <a asp-action="Index" class="btn btn-success form-control">Back To List</a>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts{
    <script>$("#province").empty()
        $("#district").empty()
        fetch("/api/location/province").then(rs => rs.json()).then(rs => {
            rs.data.forEach(item => {
                let option = $("<option>", { text: item.name, value: item.id })
                $("#province").append(option)
            })

            fetch(`/api/location/district/${$("#province").val()}`).then(result => result.json()).then(result => {
                $("#district").empty()
                result.data.forEach(item => {
                    let optionSon = $("<option>", { text: item.name, value: item.id })
                    $("#district").append(optionSon)
                })
            })

            $("#province").change((event) => {
                fetch(`/api/location/district/${event.target.value}`).then(result => result.json()).then(result => {
                    $("#district").empty()
                    result.data.forEach(item => {
                        let optionSon = $("<option>", { text: item.name, value: item.id })
                        $("#district").append(optionSon)
                    })
                })
            })
        }
        )
        fetch(`/api/location/locationById/@Model.ParcelId`).then(rs => rs.json()).then(rs => {
            $("#customerInfo").text("Người gửi: "+rs.customerInfo)
            $("#otherInfo").text("Thông tin: "+rs.otherInfo)
            $("#pointAway").text("Điểm đi: "+rs.pointAway)
            $("#destination").text("Điểm đến: "+rs.destination)
            $("#status").text("Trạng thái: "+rs.status.name)
            $("#items").text("Các vật phẩm: " + rs.items)
            $("#location").text("Địa điểm hiện tại: " + (rs.location == null ? "Chưa có" : (rs.location.district.province.name + ", " + rs.location.district.name + (rs.location.description == null ? "" : (", "+rs.location.description)))))
        })
    </script>
}

