@{ ViewData["Title"] = "MLPost"; }
@model VNPost.Models.Entity.Parcel
<div class="container">
    <h2 class="text-secondary">@(Model.Id!=0?"Edit":"Create")</h2>

    <div class="border container" style="padding:30px;">
        <form method="post" name="submitForm">
            @if (Model.Id != 0)
            {<input type="hidden" asp-for="Id" />}
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Code"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Code" class="form-control" />
                </div>
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Items"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Items" class="form-control" />
                </div>
                <span asp-validation-for="Items" class="text-danger"></span>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="PointAway"></label>
                </div>
                <div class="col-8">
                    <input asp-for="PointAway" class="form-control" />
                </div>
                <span asp-validation-for="PointAway" class="text-danger"></span>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Destination"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Destination" class="form-control" />
                </div>
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="StatusId"></label>
                </div>
                <div class="col-8">
                    <select asp-for="StatusId" class="form-select">
                        <option value="1">Prepare</option>
                        <option value="2">Pending</option>
                        <option value="3">Done</option>
                        <option value="4">Cancel</option>
                    </select>
                </div>
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="CustomerInfo"></label>
                </div>
                <div class="col-8">
                    <input asp-for="CustomerInfo" class="form-control" />
                </div>
                <span asp-validation-for="CustomerInfo" class="text-danger"></span>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="DateStart"></label>
                </div>
                <div class="col-8">
                    <input asp-for="DateStart" class="form-control" />
                </div>
                <span asp-validation-for="DateStart" class="text-danger"></span>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="DateEnd"></label>
                </div>
                <div class="col-8">
                    <input asp-for="DateEnd" class="form-control" />
                </div>
                <span asp-validation-for="DateEnd" class="text-danger"></span>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Weight"></label>
                </div>
                <div class="col-8">
                    <input type=number step=any asp-for="Weight" class="form-control" />
                </div>
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Wide"></label>
                </div>
                <div class="col-8">
                    <input type=number step=any asp-for="Wide" class="form-control" />
                </div>
                <span asp-validation-for="Wide" class="text-danger"></span>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Long"></label>
                </div>
                <div class="col-8">
                    <input type=number step=any asp-for="Long" class="form-control" />
                </div>
                <span asp-validation-for="Long" class="text-danger"></span>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Height"></label>
                </div>
                <div class="col-8">
                    <input type=number step=any asp-for="Height" class="form-control" />
                </div>
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Distance"></label>
                </div>
                <div class="col-8">
                    <input type=number step=any asp-for="Distance" class="form-control" />
                </div>
                <span asp-validation-for="Distance" class="text-danger"></span>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <button class="btn btn-success" type="button" onclick="checkPrice()">Expect Price</button>
                </div>
                <div class="col-8">
                    <input type=number step=any id="ExpectPrice" class="form-control" />
                </div>
                <span class="text-danger"></span>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Price"></label>
                </div>
                <div class="col-8">
                    <input type=number step=any asp-for="Price" class="form-control" />
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group row d-flex justify-content-center">
                <div class="col-2 offset-3">
                    <button type="submit" class="btn btn-primary form-control">
                        @(Model.Id!=0?"Update":"Create")
                    </button>
                </div>
                <div class="col-2">
                    <a asp-action="Index" class="btn btn-success form-control">Back To List</a>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts{
    <script>checkPrice = () => {
            fetch("/api/price").then(rs => rs.json()).then(rs => {
                let wide = submitForm.Wide.value
                let long = submitForm.Long.value
                let height = submitForm.Height.value
                let weight = submitForm.Weight.value
                let distance = submitForm.Distance.value
                document.getElementById("ExpectPrice").value = (wide * long * height * rs.size + weight * rs.weight) * (1 + distance / rs.distance)
            })
        }</script>
}
