.footer-top,
.footer-bottom {
    width: 100%;
    padding: 0.5rem 5%;
}

.footer-top {
    padding-top: 1.5rem;
    background: #fcb71e;
    display: flex;
    justify-content: space-between;
}

    .footer-top p {
        font-weight: 500;
        font-size: 1.6rem;
        margin: 1.5rem 0;
    }

    .footer-top ul {
        display: flex;
        flex-direction: column;
        color: black;
    }

        .footer-top ul li {
            font-size: 1.4rem;
            padding: 0.5rem 0;
            cursor: pointer;
        }

            .footer-top ul li:hover {
                color: white;
            }

            .footer-top ul li::before {
                font-weight: 600;
                content: '\f0da';
                padding: 0 1rem;
            }

            .footer-top ul li a {
                font-weight: 500;
                color: black;
                text-decoration: none;
            }

                .footer-top ul li a:hover {
                    color: white;
                }

.footer-bottom {
    background: #144e8c;
    display: flex;
    justify-content: space-between;
    padding-bottom: 4rem;
}

    .footer-bottom div {
        display: flex;
        color: white;
        height: 5rem;
        flex-direction: column;
        justify-content: space-around;
        margin: 2rem 0;
    }

        .footer-bottom div ul {
            display: flex;
            list-style: none;
            justify-content: space-between;
            width: 15rem
        }

            .footer-bottom div ul a {
                color: white;
                opacity: 0.5;
                text-decoration: none;
                font-size: 2.5rem;
            }

                .footer-bottom div ul a:hover {
                    color: #FCB71E;
                    opacity: 1;
                }

.contact {
    background: #144e8c;
    position: fixed;
    right: 5%;
    bottom: 0;
    width: 14rem;
    height: 4.5rem;
    line-height: 4.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px -5px 20px -6px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px -5px 20px -6px rgba(0,0,0,0.71);
    box-shadow: 0px -5px 20px -6px rgba(0,0,0,0.71);
}

    .contact i {
        line-height: 5rem;
        margin-right: 0.5rem;
    }

    .contact:hover {
        text-decoration: none;
        color: white;
        background: #053466;
    }

#mss {
    display: none;
    flex-direction: column;
    position: fixed;
    right: 5%;
    bottom: 0;
    background: white;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    -webkit-box-shadow: 0px -5px 20px -6px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px -5px 20px -6px rgba(0,0,0,0.71);
    box-shadow: 0px -5px 20px -6px rgba(0,0,0,0.71);
}

    #mss #mss-tool-bar {
        width: 28rem;
        height: 4rem;
        color: white;
        display: flex;
        padding: 1rem;
        font-size: 1.5rem;
        justify-content: space-between;
        background: #fcb71e;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

        #mss #mss-tool-bar svg {
            width: 1.5rem;
            fill: rgb(255, 255, 255);
        }

    #mss form {
        display: grid;
        width: 28rem;
        height: 37rem;
        padding: 1rem;
        grid-template-areas: "firstname lastname" "gender gender" "phone phone" "email email" "theme theme" "button button";
    }

        #mss form div {
            display: flex;
            flex-direction: column;
            justify-self: center;
        }

            #mss form div input,
            #mss form div select,
            #mss form div button {
                height: 4rem;
                width: 100%;
                border: 1px solid;
                border-radius: 0.3rem;
                padding: 0.5rem;
            }

            #mss form div button {
                background: #144e8c;
                color: white;
            }

.require:before {
    color: #c23934;
    content: "*";
}

#firstname {
    width: 95%;
    grid-area: firstname;
    justify-self: start;
}

#lastname {
    width: 95%;
    grid-area: lastname;
    justify-self: end;
}

#gender {
    width: 100%;
    grid-area: gender;
}

#phone {
    width: 100%;
    grid-area: phone;
}

#email {
    width: 100%;
    grid-area: email;
}

#theme {
    width: 100%;
    grid-area: theme;
}

#grid-btn {
    width: 100%;
    grid-area: button;
}

@media (max-width: 830px) {
    .footer-top {
        flex-direction: column;
        justify-content: center;
        padding-bottom: 1.5rem;
    }

    .footer-bottom {
        flex-direction: column;
        padding-bottom: 3rem;
    }

        .footer-bottom h4 {
            font-size: 1.2rem;
        }

    .contact {
        bottom: 2%;
        width: 10rem;
        height: 4rem;
        line-height: 4rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        font-size: 0.8rem;
    }

        .contact i {
            line-height: 4rem;
            margin-right: 0.5rem;
        }

    #mss {
        right: 3%;
        bottom: 0;
    }
}
@media (max-width: 374px) {
    .footer-top {
        padding: 1.5rem;
    }
    .footer-bottom div {
        height: auto;
    }
}
