.footer-top {
    padding-top: 1.5rem;
    background: #fcb71e;
}

    .footer-top p {
        font-weight: 500;
        font-size: 1.6rem;
        margin: 1.5rem 0;
    }

    .footer-top ul {
        display: flex;
        flex-direction: column;
        color: black;
    }

        .footer-top ul li {
            font-size: 1.4rem;
            padding: 0.5rem 0;
            cursor: pointer;
        }

            .footer-top ul li:hover {
                color: white;
            }

            .footer-top ul li::before {
                font-weight: 600;
                content: '\f0da';
                padding: 0 1rem;
            }

            .footer-top ul li a {
                font-weight: 500;
                color: black;
                text-decoration: none;
            }

                .footer-top ul li a:hover {
                    color: white;
                }

.footer-bottom {
    background: #144e8c;
    padding: 2rem 0;
}

    .footer-bottom ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        width: 15rem
    }

        .footer-bottom ul a {
            opacity: 0.5;
            font-size: 2.5rem;
        }

            .footer-bottom ul a:hover {
                color: #FCB71E;
                opacity: 1;
            }
