.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pre-header {
    height: 3rem;
    padding: 0.4rem 5%;
    font-size: 1.4rem;
    background: #ececec;
}

#phone-number {
    display: flex;
    justify-content: space-between;
    width: 28rem;
}

    #phone-number i {
        padding-top: 0.3rem;
        font-size: 1rem;
    }

#phone-number-text {
    font-weight: 300;
}

#phone-number-num {
    font-weight: 500;
}

.pre-header-toolbar {
    display: flex;
    justify-content: space-between;
    width: 55%;
}

    .pre-header-toolbar a {
        font-weight: 300;
        text-decoration: none;
        color: black;
    }

        .pre-header-toolbar a:hover {
            color: #fcb71e;
        }

.language {
    display: flex;
    justify-content: space-between;
    width: 6.5rem;
}

    .language img {
        width: 3rem;
        height: 2rem;
    }

.pre-header-toolbar form {
    width: 17rem;
    display: flex;
    justify-content: center;
}

.pre-header-toolbar span, .pre-header-toolbar input {
    background: white;
}

.pre-header-toolbar i {
    font-weight: 600;
    font-size: 1.2rem;
}

.pre-header-toolbar span {
    height: 2.2rem;
    border: solid white;
    border-width: 0.3rem 0.3rem 1rem 0.5rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.pre-header-toolbar input {
    width: 14rem;
    border: 0.2rem solid white;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.main-header {
    height: 10.7rem;
    padding: 2rem 5%;
}

.logo {
    width: 42rem;
}

.main-header ul {
    height: 6.7rem;
    width: 45%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.main-header li {
    display: grid;
    grid-template-areas: "left right-top" "left right-bottom" "left right1" "left right2";
}

    .main-header li a {
        width: 5rem;
        height: 5rem;
        grid-area: left;
        padding: 1rem 0 0 1rem;
        border: 0.2rem solid #fcb71e;
        border-radius: 5rem;
    }

        .main-header li a:hover {
            opacity: 0.8;
        }

        .main-header li a img {
            width: 2.5rem;
        }

    .main-header li p, .main-header li span {
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        padding-top: 2px;
        padding-left: 4px;
    }

    .main-header li p {
        padding-top: 5px;
        padding-left: 5px;
        font-weight: 400;
        grid-area: right-top;
    }

    .main-header li span {
        font-weight: 300;
        grid-area: right-bottom;
    }

.bottom-header {
    background: #fcb71e;
    width: 100%;
}

    .bottom-header > nav {
        padding: 0;
        background: #fcb71e !important;
    }

#navbarNav li {
    margin: 0 2rem;
    text-align: end;
}

#navbarNav a {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

#menu-bar-accessory {
    padding-top: 1.2rem;
    cursor: pointer;
    box-sizing: border-box !important;
}

#menu-bar-accessory {
    display: flex;
    justify-content: space-between;
    width: 24rem;
}

.bottom-header .dropdown-menu {
    padding-top: 1rem;
    width: 24rem;
    height: 30rem;
    border: none;
    background: #f6f6f6;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.4);
}

    .bottom-header .dropdown-menu > li {
        width: 80%;
        margin: 0 auto;
        height: 4rem;
        display: flex;
        justify-content: flex-start;
    }

        .bottom-header .dropdown-menu > li a {
            width: 100%;
            font-size: 1.2rem;
            color: #21427f;
            text-decoration: none;
            line-height: 4rem
        }

        .bottom-header .dropdown-menu > li > form {
            padding:0.5rem 0;
            height: 4rem;
        }

@media (min-width: 768px) and (max-width: 1023px) {
    .pre-header {
        padding: 0.4rem 3%;
    }

    #phone-number {
        display: flex;
        justify-content: space-between;
        width: 12rem;
    }

    #phone-number-text {
        display: none;
    }

    .pre-header-toolbar {
        width: 75%;
    }

    .logo {
        width: 40rem;
    }

    .main-header li p, .main-header li span {
        display: none;
    }
}

@media (max-width: 768px) {
    .main-header {
        text-align: center;
        justify-content: center;
    }

        .main-header ul {
            display: none;
        }

    .logo {
        width: 24rem;
    }

    .main-header li p, .main-header li span {
        display: none;
    }

    .pre-header {
        font-size: 1.2rem;
        padding: 0.4rem 2%;
    }

    #phone-number {
        display: none;
        width: 0rem;
    }

    .pre-header-toolbar {
        width: 100%;
    }

        .pre-header-toolbar form {
            width: 10rem;
            display: flex;
            justify-content: center;
        }

        .pre-header-toolbar input {
            width: 7rem;
        }

    .language {
        width: 3rem;
    }

    #flag2 {
        display: none;
    }
}

@media (max-width: 500px) {
    .logo {
        width: 90%;
    }

    .main-header li p, .main-header li span, .main-header li a {
        display: none;
    }
}
