#article .right > .article-columnist {
    width: 100%;
    background: #EAF6FF;
    border-top: 1px solid #8198C3;
    border-bottom: 1px solid #D0E4F1;
    display: flex;
    margin: 1rem 0;
    flex-direction: row;
    flex-wrap: wrap;
}

    #article .right > .article-columnist > ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
    }

        #article .right > .article-columnist > ul > li > .link-columnist {
            font-size: 1.5rem;
            font-weight: 600;
            padding: 0 2rem 0 0;
            color: #485986;
            text-decoration: none;
        }

        #article .right > .article-columnist > ul > li > .link-columnistItem {
            color: #4e4b35;
            font-size: 1.2rem;
            line-height:2.5rem;
            padding: 0 1rem 0 0.5rem;
            text-decoration: none;
        }

            #article .right > .article-columnist > ul > li > .link-columnistItem:hover {
                color: #f90;
            }

#article .right > .article-list {
    display: grid;
    grid-template-columns: 38.33% 38.33% 23.33%;
}

    #article .right > .article-list .article-description {
        padding-right: 1rem;
    }

        #article .right > .article-list .article-description a {
            color: black;
            text-decoration: none;
        }

            #article .right > .article-list .article-description a:hover {
                color: #f90;
            }

        #article .right > .article-list .article-description img {
            width: 100%
        }

        #article .right > .article-list .article-description p {
            color: #333333;
            font-size: 1.2rem;
        }

    #article .right > .article-list .article-soft-list {
        border-right: 1px solid #dcdcdc;
        border-left: 1px solid #dcdcdc;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
    }

        #article .right > .article-list .article-soft-list a {
            font-size: 1.2rem;
            color: #333333;
            padding-bottom: 1rem;
            text-decoration: none;
        }

            #article .right > .article-list .article-soft-list a:hover {
                color: #f90;
            }

    #article .right > .article-list .article-right {
        padding-left: 1rem;
    }

        #article .right > .article-list .article-right a {
            color: black;
            text-decoration: none;
        }

            #article .right > .article-list .article-right a:hover {
                color: #f90;
            }

        #article .right > .article-list .article-right img {
            width: 100%
        }

@media (max-width: 694px) {
    #article .right > .article-list {
        display: flex;
        flex-direction: column;
    }

        #article .right > .article-list .article-soft-list {
            margin: 1rem 0;
            padding: 0;
            border: none;
        }
}
