@page
@{
}
<div class="container">
    <ul>
        <li>
            <label><input type="checkbox" value="">Option 1</label>
            <ul>
                <li>
                    <label><input type="checkbox" value="">Option 1</label>
                    <label><input type="checkbox" value="">Option 1</label>
                    <label><input type="checkbox" value="">Option 1</label>
                    <label><input type="checkbox" value="">Option 1</label>
                </li>
            </ul>
        </li>
        <li>
            <label><input type="checkbox" value="">Option 1</label>
            <ul>
                <li>
                    <label><input type="checkbox" value="">Option 1</label>
                    <label><input type="checkbox" value="">Option 1</label>
                    <label><input type="checkbox" value="">Option 1</label>
                    <label><input type="checkbox" value="">Option 1</label>
                </li>
            </ul>
        </li>
        <li>
            <label><input type="checkbox" value="">Option 1</label>
            <ul>
                <li>
                    <label><input type="checkbox" value="">Option 1</label>
                    <label><input type="checkbox" value="">Option 1</label>
                    <label><input type="checkbox" value="">Option 1</label>
                    <label><input type="checkbox" value="">Option 1</label>
                </li>
            </ul>
        </li>
    </ul>
</div>
