@{
    ViewData["Title"] = "Dịch vụ";
}

@section Styles{
    <link rel="stylesheet" href="~/css/post/article/article.css" />
    <link rel="stylesheet" href="~/css/post/article/list.css" />
}

<section id="article">
    @await Component.InvokeAsync("Left")
    <div class="right" id="right">
    </div>
</section>

@section Scripts{
    <script src="~/js/posts/article/list.js"></script>
}