@{
    ViewData["Title"] = "Dịch vụ";
}
@using VNPost.Models.ViewModels;
@model ListSearchArticleVM;
@section Styles{
    <link rel="stylesheet" href="~/css/post/article/article.css" />
    <link rel="stylesheet" href="~/css/post/article/listsearch.css" />
}

<section id="article">
    @await Component.InvokeAsync("Left", new { columnistItemId = Model.ColumnistItemId, columnistId = Model.ColumnistId })
    <div class="right">
        <h1>TIN TỨC</h1>
        <img src="http://www.vnpost.vn/Portals/_default/Skins/VNPost.Skins.FrontEnd//img/product-border.png" alt="none">
        <div id="listArticle">
        </div>
        <div class="pagination" id="pagination">
        </div>
    </div>
</section>
@section Scripts{
    <script src="~/js/posts/article/listByColumnist.js"></script>
}