* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html, body {
/*    font-size: 62.5%;*/
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

select, button, svg {
    cursor: pointer;
}

ol, ul {
    padding-left: 0;
}

p, a, label, span, b {
    font-size: 1.2rem;
}
