@{
    ViewData["Title"] = "Privacy Policy";
}
@model VNPost.Models.Entity.Price;

@section Styles{
    <link rel="stylesheet" href="~/css/admin/article/writerArticle.css" />
}

<section id="form" class="pb-3">
    <form method="post" enctype="multipart/form-data" name="distance">
        <input asp-for="Id" style="display:none;" />
        <div class="contain-input">
            <div class="div-input">
                <label asp-for="Distance" class="control-label">Km</label>
                <input asp-for="Distance" type=number step=any class="form-control" />
            </div>
            <div class="div-input">
                <label asp-for="Weight" class="control-label">Vnd/1Kg</label>
                <input asp-for="Weight" type=number step=any class="form-control" />
            </div>
            <div class="div-input">
                <label asp-for="Size" class="control-label">Vnd/1m3</label>
                <input asp-for="Size" type=number step=any class="form-control" />
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Lưu</button>
        </div>
    </form>
</section>
